* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #ffffff;
}
.btn-default {
    background-color: white;
}
#btn {
    background-color: #009617;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 10px 10px;
    color: #ffffff;
    font-weight: 500;
}

.orange {
    color: orange;
}

section.page-carousel {
    position: relative;
    display: block;
}

.btn-default {
    background-color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 10px;
}
.carousel-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    top: 280px;
    left: 220px;
}
.carousel-content h1{
    color: #ffffff;
    font-family: 'poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;
}
.orange {
    color: orange;
}

/* Section hand */
section.hand {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: 5px;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 100%;
    height: 100%;
}
section.hand .img{
    position: relative;
    margin-top: 70px;
    width: 700px;
    height: 800px;
}


.list {
    position: relative;
    display: flex;
    top: 50px;
    bottom: -150px;
    flex-direction: row;
    right: 40px;
}
.list-item {
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    color: #ffffff;
    border-radius: 10px;
    background-color: #009617;
    font-size: large;
    line-height: 2.5;

}
.list-item h3{
    margin-top: 20px;
    margin-bottom: 5px;

}
.list-item p{
    margin-bottom: 30px;

}
/* /Hand */

/* Section consultation */
section.consultation {
    position: absolute;
    
}
/* /Section consultation */
